<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center ">
   <!-- Encabezado con fondo azul -->
  <div class="bg-primary text-white py-4 rounded-bottom shadow">
    <h1 class="display-6 fw-bold">Bienvenida <br> Paulina </h1>
  </div>

  <div class="container" >
    <ion-icon name="person-circle-outline" class="text-light pt-4" style="font-size: 200px"></ion-icon>
  </div>
    <p class="container mt-4">Te damos la bienvenida a app Dosis Diarias</p>
</ion-content>
