/* Fondo azul para el encabezado */
.bg-primary {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* Botón Crear Cuenta */
button {
    border-radius: 25px;
  }

ion-icon {
    color: blue;
}
