<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Buscador de medicamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center ">
  <!-- Encabezado con fondo azul -->
  <div class="bg-info text-black py-4 rounded-bottom shadow">
    <h1 class="display-6 fw-bold">Buscador de <br>medicamentos</h1>
  </div>

  <div class="container" >
    <ion-icon name="search-circle-outline" class="text-light pt-4" style="font-size: 200px"></ion-icon>
  </div>
    <p class="container mt-4">Aquí puedes buscar por nombre los medicamentos que debes tomar</p>
</ion-content>

