<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Frecuencia de dosis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=" ion-text-center ">
  <!-- Encabezado con fondo azul -->
  <div class="bg-info text-black py-4 rounded-bottom shadow">
    <h1 class="display-6 fw-bold">Frecuencia de dosis</h1>
  </div>

  <div class="container" >
    <ion-icon name="sync-outline" class="text-light pt-4" style="font-size: 100px"></ion-icon>
  </div>
  <p class="container mt-4">Aquí puedes agregar cuantas veces al día tomas tus medicamentos</p>
</ion-content>

<div class="d-flex aling-items-center justify-content-center text-center">
  <ion-item color="success">
    <ion-label>Frecuencia de Dosis</ion-label>
    <ion-select [(ngModel)]="selectedFrequency" color="secundary">
      <ion-select-option value="diario">Diario</ion-select-option>
      <ion-select-option value="semanal">Semanal</ion-select-option>
      <ion-select-option value="mensual">Mensual</ion-select-option>
    </ion-select>
  </ion-item>
</div>

<ion-button (click)="showToast()">Agregar Recordatorio</ion-button>

