<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Inicio / Splash</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="text-center">
  <div class="container mt-1 ion-text-center">
      <!-- Encabezado con fondo blanco -->
  <div class="bg-light text-black py-4 rounded-bottom shadow" style="background-color: #e3f2fd;">
    <h1 class="display-6 fw-bold">Daily Dosis</h1>
  </div>
    <p class="mt-4">Administra tus recordatorios de medicamentos de manera fácil y rápida.</p>
  </div>
</ion-content>
